<!DOCTYPE html>
<html>
<head>
    <%- include('./include/meta') %>
    <title><%= title %></title>
    <%- include('./include/css') %>
</head>
<body class="chat-body">
    <header class="header">
        <a class="btn left" href="./">
            <i class="icon icon-back"></i>
        </a>
        <span class="title">叶五全</span>
    </header>
    <main class="main">
        <div class="gallery">
            <div class="chat-record-list">
                <div class="item">
                    <img src="http://img1.hao661.com/uploads/allimg/c160114/1452J91V50-109295.jpg" alt="" class="avatar">
                    <div class="content">
                        <div class="inner">
                            <p>你好啊？</p>
                        </div>
                    </div>
                </div>
                <div class="item mine">
                    <img src="http://img1.hao661.com/uploads/allimg/c160114/1452J91V50-109295.jpg" alt="" class="avatar">
                    <div class="content">
                        <div class="inner">
                            <p>你好啊？你好啊？你好啊？你好啊？你好啊？你好啊？你好啊？</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="http://img1.hao661.com/uploads/allimg/c160114/1452J91V50-109295.jpg" alt="" class="avatar">
                    <div class="content">
                        <div class="inner">
                            <p>你好啊？</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="http://img1.hao661.com/uploads/allimg/c160114/1452J91V50-109295.jpg" alt="" class="avatar">
                    <div class="content">
                        <div class="inner">
                            <p>你好啊？</p>
                        </div>
                    </div>
                </div>
                <div class="item mine">
                    <img src="http://img1.hao661.com/uploads/allimg/c160114/1452J91V50-109295.jpg" alt="" class="avatar">
                    <div class="content">
                        <div class="inner">
                            <p>你好啊？你好啊？你好啊？你好啊？你好啊？你好啊？你好啊？</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="http://img1.hao661.com/uploads/allimg/c160114/1452J91V50-109295.jpg" alt="" class="avatar">
                    <div class="content">
                        <div class="inner">
                            <p>你好啊？</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="http://img1.hao661.com/uploads/allimg/c160114/1452J91V50-109295.jpg" alt="" class="avatar">
                    <div class="content">
                        <div class="inner">
                            <p>你好啊？</p>
                        </div>
                    </div>
                </div>
                <div class="item mine">
                    <img src="http://img1.hao661.com/uploads/allimg/c160114/1452J91V50-109295.jpg" alt="" class="avatar">
                    <div class="content">
                        <div class="inner">
                            <p>你好啊？你好啊？你好啊？你好啊？你好啊？你好啊？你好啊？</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="http://img1.hao661.com/uploads/allimg/c160114/1452J91V50-109295.jpg" alt="" class="avatar">
                    <div class="content">
                        <div class="inner">
                            <p>你好啊？</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="input">
            <div class="basic">
                <table>
                    <tbody>
                        <tr>
                            <td class="operate-item sound">
                                <a class="btn">
                                    <i class="icon icon-sound"></i>
                                </a>
                            </td>
                            <td class="">
                                <input class="content" type="text" name="" id="">
                            </td>
                            <td class="operate-item face">
                                <a class="btn face">
                                    <i class="icon icon-face"></i>
                                </a>
                            </td>
                            <td class="operate-item plus">
                                <a class="btn right">
                                    <i class="icon icon-plus"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="extra hide"></div>
        </div>
    </main>
    <%- include('./include/script') %>
</body>
</html>
