<!DOCTYPE html>
<html>
<head>
    <%- include('./include/meta') %>
    <title><%= title %></title>
    <%- include('./include/css') %>
</head>
<body>
    <div id="app"></div>
    <%- include('./include/script') %>
</body>
</html>
